body{
    padding-top: 18px;
    padding-left: 50px;
   
}
.fondo1{
     background-color: #FF4000;
}
.fondo2{
     background-color: #8cc63f;
}
.fondo3{
    background-color: #003333;
    }
.fondo4{
    background-color: green;
    }

div {
    background-color: green ;
	display: inline-block;
	margin-left:4px;
	margin-top:4px;
	border:4px solid red;
        box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.35);
	border-radius:25%;
	width:250px;
	height:200px;
	text-align:center;
    float: left;
	}

    div:active {
    background-color:whitesmoke;
    }

    div h1{
        font: 25px Tahoma, Helvetica, Arial, Sans-Serif;
        text-align: center;
        color: #222; text-shadow: 0px 2px 3px #555;
    }
div p {
	margin-top: 40px;
	font-size: 12px;
}
   
#resultado{
        border: 4px #000fff dotted;
        border-radius: 15%;
        width:780px;
	    height:850px;
        background-color: green;
        text-align:center;
        text-shadow: 1px 1px Brown;
        color: darkblue;
        font-size: 1.8em;
    }
    aside{
        text-align: center;
        
    }

    #dato{
        width:780px;
	    display: inline-block;
	    margin-left: 8px;
	    margin-top:8px;
	    border:4px dotted orange;
	    border-radius:15%;
	    height:auto;
	    text-align:center;
        float: left;
    }

    div.clear {
    clear: both;
}

    .opciones{
        width:780px;
        height:220px;
        border-radius: 10%;
        background: green;
    }

/* 
TExto de los div´s 
 */

code {
    font: 25px Tahoma, Helvetica, Arial, Sans-Serif;
    text-align: center;
    color: #222; 
    text-shadow: 0px 2px 3px #555;
    
}

li,ul {
    list-style: none;
}
#menu3{
    display: inline;
    text-decoration: none;
    color: white;
    position: fixed;
    top: 5px;
    right: 195px;
    text-align: center;
        }
        #menu3:hover{
            font-size: 1.1em;
            color:black;
            background-color:#d08636;
            border: 6px #FF4000 ridge;
            
        }        
#menu2{
    display: inline;
    text-decoration: none;
    color: white;
    position: fixed;
    top: 5px;
    right: 5px;
    text-align: center;
        }
        #menu2:hover{
            font-size: 1.1em;
            color:black;
            background-color:#d08636;
            border: 6px #FF4000 ridge;
        }
#menu1{
    display: inline;
    text-decoration: none;
    color: white;
    position: fixed;
    top: 5px;
    right: 350px;
    text-align: center;
    
    }   
    #menu1:hover{
            font-size: 1.1em;
            color:black;
            background-color:#d08636;
             border: 6px #FF4000 ridge;
        }
    
img{
    width: 25px;
}

header {
    font: 25px Tahoma, Helvetica, Arial, Sans-Serif;
    text-align: center;
    color: #222; 
    text-shadow: 0px 2px 3px #555;
}
h2 {
    color:black;
    text-shadow: 0px 1px 3px blue;
}